@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                
                <NotAuthorized>
                    @{
                        // Kullanıcının gitmek istediği sayfanın URL'sini alalım.
                        // Böylece giriş yaptıktan sonra onu doğru sayfaya geri yönlendirebiliriz.
                        var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
                        
                        // Eğer kullanıcı ana sayfaya yetkisiz girmeye çalışıyorsa, returnUrl boş olabilir.
                        // Bu durumda sadece login sayfasına yönlendirelim.
                        if (string.IsNullOrWhiteSpace(returnUrl))
                        {
                            Navigation.NavigateTo("login");
                        }
                        else
                        {
                            Navigation.NavigateTo($"login?returnUrl={returnUrl}");
                        }
                    }
                </NotAuthorized>

                <Authorizing>
                    <p>Yetkiniz kontrol ediliyor...</p>
                </Authorizing>

            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Üzgünüz, bu adreste bir şey bulunamadı.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>